*{
	position: relative;
}

body, html, .reBackground, .container, .cover{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

body{
	background: linear-gradient(-150deg, #87C3FC, #9BFCFC);
}

.cover{
	background-color: white;
	z-index: 10;
	animation-name: fadeOut;
	animation-delay: 1s;
	animation-duration: 3s;
	animation-fill-mode: forwards;
	position: absolute;
}

.fixed{
	position: fixed;
	top: 100px;
	left: 0px;
}

.reBackground{
	position: absolute;
	background: linear-gradient(-150deg, #1D678F, #19283D);
	transition-duration: 0s;
	opacity: 0.5;
}
/* Dark one */

.full{
	z-index: 5;
	height: 5%;
	width: 5%;
	position: absolute;
	top: 3%;
	left: 1%;
	display: inline-block;
	transition-duration: 0.5s;
}

.notFull{
	z-index: 3;
	height: 5%;
	width: 5%;
	position: absolute;
	top: 3%;
	left: 1%;
	opacity: 0;
	transition-duration: 0.5s;
}

.sign{
	width: 100%;
	height: 100%;
	cursor: pointer;
}


#sign1, #sign2{
	transition-duration: 0.5s;
	stroke: white;
	opacity: 0;
	animation-name: fadeIn;
	animation-duration: 2s;
	animation-delay: 2s;
	animation-fill-mode: forwards;
}

.strokeBlack{
	stroke: black;
}

.cloudSVG{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	animation-name: fadeIn;
	animation-duration: 3s;
	animation-delay: 4.5s;
	animation-fill-mode: forwards;
}


.cloud{
	width: 60%;
	height: 60%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}

.hide{
	opacity: 0;
}

.show{
	opacity: 1;
}


svg#white {
	opacity: 0.5;	
	filter: drop-shadow(0px 5px 3px rgba(200, 200, 200, 0.3));
}

svg#black {
	opacity: 0;
	filter: drop-shadow(0px 5px 3px rgba(30, 30, 30, 0.8));
}

.uppercloud{
	animation: cloudmove 10s infinite;
	fill: #FFF;
}

#Line{
	opacity: 0.5;
	animation: linemove 1s infinite;
	animation-timing-function: linear;
	animation-delay: 0s;
}

#Line2{
	opacity: 0.5;
	animation: linemove 1s infinite;
	animation-timing-function: linear;
	animation-delay: -0.5s;
}

#Line3{
	opacity: 0.5;
	animation: linemove 1s infinite;
	animation-timing-function: linear;
	animation-delay: -0.8s;
}


#light1{
	opacity: 0.5;
	animation: linemove 1s infinite;
	animation-timing-function: linear;
	animation-delay: 0s;
}

#light2{
	opacity: 0.5;
	animation: linemove 1s infinite;
	animation-timing-function: linear;
	animation-delay: -0.5s;
}

#light3{
	opacity: 0.5;
	animation: linemove 1s infinite;
	animation-timing-function: linear;
	animation-delay: -0.8s;
}


@-webkit-keyframes linemove {
	0%{
		transform: translateY(-80px);
		opacity: 0.3;
	}

	10%{
		opacity: 1;
	}

	100% {
	transform: translateY(80px);
	opacity: 0;
	}
}
@-o-keyframes linemove {
	0%{
		transform: translateY(-80px);
		opacity: 0.3;
	}

	10%{
		opacity: 1;
	}

	100% {
	transform: translateY(80px);
	opacity: 0;
	}
}
@-moz-keyframes linemove {
	0%{
		transform: translateY(-80px);
		opacity: 0.3;
	}

	10%{
		opacity: 1;
	}

	100% {
	transform: translateY(80px);
	opacity: 0;
	}
}
@keyframes linemove {
	0%{
		transform: translateY(-80px);
		opacity: 0.3;
	}

	10%{
		opacity: 1;
	}

	100% {
	transform: translateY(80px);
	opacity: 0;
	}
}

/*cloudmove 動畫*/

@-webkit-keyframes cloudmove {
	0%{
		transform: translateY(-50px);
	}
	25%{
		transform: translateY(0px);
	}
	50%{
		transform: translateY(-25px);
	}
	75%{
		transform: translateY(0px);
	}
	100%{
		transform: translateY(-50px);
	}
}
@-o-keyframes cloudmove {
	0%{
		transform: translateY(-50px);
	}
	25%{
		transform: translateY(0px);
	}
	50%{
		transform: translateY(-25px);
	}
	75%{
		transform: translateY(0px);
	}
	100%{
		transform: translateY(-50px);
	}
}
@-moz-keyframes cloudmove {
	0%{
		transform: translateY(-50px);
	}
	25%{
		transform: translateY(0px);
	}
	50%{
		transform: translateY(-25px);
	}
	75%{
		transform: translateY(0px);
	}
	100%{
		transform: translateY(-50px);
	}
}
@keyframes cloudmove {
	0%{
		transform: translateY(-50px);
	}
	25%{
		transform: translateY(0px);
	}
	50%{
		transform: translateY(-25px);
	}
	75%{
		transform: translateY(0px);
	}
	100%{
		transform: translateY(-50px);
	}
}

/*cover fade out + z index 動畫*/

@-webkit-keyframes fadeOut {
	from { opacity: 1;}
	to { opacity: 0; z-index: 0; }
}
@-o-keyframes fadeOut {
	from { opacity: 1;}
	to { opacity: 0; z-index: 0; }
}
@-moz-keyframes fadeOut {
	from { opacity: 1;}
	to { opacity: 0; z-index: 0; }
}
@keyframes fadeOut {
	from { opacity: 1;}
	to { opacity: 0; z-index: 0; }
}

/*fade in 動畫*/

@-webkit-keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}
@-o-keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}
@-moz-keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}
@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}
